* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: #7fffd4;

}

.nombre {
    width: 100%;
    height: 120px;
    background-color: black;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}

.gato {
    width: 100%;
    height: calc(100% - 240px);
    background-color:bluergb(100, 102, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cara img {
    width: 500px; 
    height: auto;
    transition: filter 0.3s ease;
}

.raza{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 200, 200);
}

.foto img {
    width: 150px; 
    height: auto;
    transition: filter 0.3s ease;
}

.cara img:hover, .foto img:hover {
    filter: brightness(1.5);
}